Xft.dpi: 96


Xcursor.theme: Breeze-White
Xcursor.size: 16

rofi.color-enabled: true
!					bg		border	 separator
rofi.color-window: #353945, #CC575D, #CC575D


!
rofi.color-normal: #353945, #FFFFFF, #353945, #CC575D, #FFFFFF
rofi.color-active: #353945, #FFFFFF, #353945, #CC575D, #FFFFFF
rofi.color-urgent: #353945, #FFFFFF, #353945, #CC575D, #FFFFFF
