Xft.dpi: 96


Xcursor.theme: Breeze-White
Xcursor.size: 16

rofi.color-enabled: true
!					bg		border	 separator
rofi.color-window: #333333, #282828, #FFFFFF


!
rofi.color-normal: #333333, #FFFFFF, #333333, #282828, #FFFFFF
rofi.color-active: #333333, #FFFFFF, #333333, #282828, #FFFFFF
rofi.color-urgent: #333333, #FFFFFF, #333333, #282828, #FFFFFF

